web/App_WebReferences/pe/pagoefectivo/pre/crypta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BlackBox">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BlackBoxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BlackBoxResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BlackBoxDecrypta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BlackBoxDecryptaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BlackBoxDecryptaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BlackBoxSoapIn">
    <wsdl:part name="parameters" element="tns:BlackBox" />
  </wsdl:message>
  <wsdl:message name="BlackBoxSoapOut">
    <wsdl:part name="parameters" element="tns:BlackBoxResponse" />
  </wsdl:message>
  <wsdl:message name="BlackBoxDecryptaSoapIn">
    <wsdl:part name="parameters" element="tns:BlackBoxDecrypta" />
  </wsdl:message>
  <wsdl:message name="BlackBoxDecryptaSoapOut">
    <wsdl:part name="parameters" element="tns:BlackBoxDecryptaResponse" />
  </wsdl:message>
  <wsdl:portType name="CryptaSoap">
    <wsdl:operation name="BlackBox">
      <wsdl:input message="tns:BlackBoxSoapIn" />
      <wsdl:output message="tns:BlackBoxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BlackBoxDecrypta">
      <wsdl:input message="tns:BlackBoxDecryptaSoapIn" />
      <wsdl:output message="tns:BlackBoxDecryptaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CryptaSoap" type="tns:CryptaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BlackBox">
      <soap:operation soapAction="http://tempuri.org/BlackBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BlackBoxDecrypta">
      <soap:operation soapAction="http://tempuri.org/BlackBoxDecrypta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CryptaSoap12" type="tns:CryptaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BlackBox">
      <soap12:operation soapAction="http://tempuri.org/BlackBox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BlackBoxDecrypta">
      <soap12:operation soapAction="http://tempuri.org/BlackBoxDecrypta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Crypta">
    <wsdl:port name="CryptaSoap" binding="tns:CryptaSoap">
      <soap:address location="https://pre.pagoefectivo.pe/pasarela/pasarela/crypta.asmx" />
    </wsdl:port>
    <wsdl:port name="CryptaSoap12" binding="tns:CryptaSoap12">
      <soap12:address location="https://pre.pagoefectivo.pe/pasarela/pasarela/crypta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>